#table-caption2{
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-left: 4%;

    #search-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        height: 35px;
        background-color: #f7f7f7;
        border-radius: 5px;

        input{
            width: 85%;
            height: 25px;
            outline: none;
            border-width: 0px;
            background-color: #f7f7f7;
            font-size: 12px;
        }
    }

    #refresh-button{
        width: 35px;
        height: 35px;
        margin-left: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3e4957;
        outline: none;
        border: 0px;
        margin-top: 5px;
        
        #reload{
            width: 15px;
            height: 15px;
        }
    }

    #refresh-button:hover{
        opacity: 0.6;
    }

    #refresh-button2{
        width: 60px;
        height: 35px;
        margin-left: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        color: #fff;
        outline: none;
        border: 0px;
        font-weight: 600;
        font-size: 12px;
        margin-top: 5px;
    }

    #refresh-button2:hover{
        opacity: 0.6;
    }

    #search-icon{
        width: 14px;
        height: 14px;
        margin-left: 5px;
    }
}

@media screen and (max-width: 1050px){
    #table-caption2{
        #search-container{
            width: 60%;
        }
    }
}

#editor{
    width: 96%;
    margin-top: 30px;
    border: 2px solid #000;
    padding: 10px;

}

button{
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 5px;
}

.language-css{
    width: 200px;
    background-color: #000;
    color: #fff
}

#editor-pane{
    height: 500px;
    overflow: scroll;
    border: 1px solid #ccc;
}

#editor-pane:focus{
    border:'none'
}